body{
    background: rgb(62, 130, 231);
    color: white;
    text-align: center;
    font: normal 10pt arial;
}
input{
    border-radius: 4px;
}
section{
    background: white;
    color: black;
    width: 480px;
    padding: 8px;
    margin: auto;
    text-align: left;
    border-radius: 6px;
}
button{
    border-radius: 4px;
    background: lightgray;
}
select{
    border-radius: 8px;
    height: 25px;
}
.op{
    width: 80px;
    height: 15px;
}
#expoente{
    width: 30px;
    height: 10px;
    position: absolute;
}